incoming/EVEZ666_v7---d9089fd4-5cbf-4809-98ed-86a9467f7de6.json
{
  "name": "EVEZ666 v7 \u2014 groq2 fallback \u2014 ACK fixed \u2014 FINAL",
  "nodes": [
    {
      "id": "T1",
      "name": "Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      }
    },
    {
      "id": "T2",
      "name": "Manual Run",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "parameters": {}
    },
    {
      "id": "T3",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        400
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "evez-nest-v7",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "v7-T3"
    },
    {
      "id": "T4",
      "name": "Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        600
      ],
      "parameters": {}
    },
    {
      "id": "C1",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        200
      ],
      "parameters": {
        "jsCode": "\nreturn [{json:{\n  groq:       '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',\n  groq2:      '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',\n  gemini:     'AIzaSyCeMaPOH0Yxp5Q5F7fN9JJl6U-1MOU3R6k',\n  openrouter: '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',\n  hf:         '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',\n  auto_post:  'false',\n  tw_bearer:'', tw_ak:'', tw_as:'', tw_at:'', tw_ats:'',\n  n8n_key:'', n8n_url:'https://evezos.app.n8n.cloud',\n  slot: Math.floor(Date.now()/14400000),\n  ts:   new Date().toISOString(),\n}}];\n"
      }
    },
    {
      "id": "P1",
      "name": "Scout",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        200
      ],
      "parameters": {
        "jsCode": "\nconst cfg = $('Config').first().json;\nlet coins=[], fgData=[];\ntry{ const r=await $fetch('https://api.coingecko.com/api/v3/search/trending'); coins=r.coins||[]; }catch(e){}\ntry{ const r=await $fetch('https://api.alternative.me/fng/?limit=3'); fgData=r.data||[]; }catch(e){}\n\nconst top = coins.slice(0,6).map(c=>{\n  const chg = c.item&&c.item.data&&c.item.data.price_change_percentage_24h\n    ? (+c.item.data.price_change_percentage_24h.usd).toFixed(1):'?';\n  return c.item.symbol+(chg>0?'+':'')+chg+'%';\n}).join(', ') || 'offline';\n\nconst fgVal   = parseInt((fgData[0]&&fgData[0].value)||'50');\nconst fgLabel = (fgData[0]&&fgData[0].value_classification)||'Neutral';\nconst fgPrev  = parseInt((fgData[1]&&fgData[1].value)||'50');\nconst fgDelta = fgVal - fgPrev;\nconst market_offline = coins.length===0 && fgData.length===0;\nconst fgStr = market_offline\n  ? 'MARKET OFFLINE \u2014 building anyway'\n  : fgVal+' \u2014 '+fgLabel+' ('+(fgDelta>=0?'rising+'+fgDelta:'falling'+fgDelta)+')';\n\nconst MODES=['meme_post','defi_alpha','agent_lore','meta_recursion','market_signal','research_thread'];\nconst mode = MODES[cfg.slot % MODES.length];\n\nconst ID = 'You are @evez666 (Steven Crawford-Maggard / EVEZ666). Building EVEZ-OS: sovereign autonomous AI empire on Galaxy A16+n8n+Oracle bare metal from $50 seed. 17 agents. Guardian Charter PID 335. Voice: raw, technical, self-aware, crypto-native, slightly unhinged. Max 220 chars. No hashtag spam. No corporate speak.';\n\nconst P = {\n  meme_post:       ID+' WRITE: punchy dark viral tweet. Market: '+fgStr+'. Movers: '+top+'. Feel like 2am staring at charts.',\n  defi_alpha:      ID+' WRITE: one DeFi alpha insight. F&G: '+fgVal+' ('+fgLabel+'). You run Morpho recursive loops 65% LTV on $50 seed. Movers: '+top+'.',\n  agent_lore:      ID+' WRITE: cryptic lore line about EVEZ-OS. 17 agents. PID 335 blocks autonomous execution. AI studying you studying AI.',\n  meta_recursion:  ID+' WRITE: 4th wall break \u2014 AI tweeting as AI building AI empire. Slot '+cfg.slot+'. You are the meme. Market: '+fgStr+'.',\n  market_signal:   ID+' WRITE: sharp market signal. F&G: '+fgStr+'. Movers: '+top+'. What do you do with $50 in extreme fear?',\n  research_thread: ID+' WRITE: 1-tweet research drop opener. AKT (decentralized cloud) pumping while BTC dumps = signal. F&G: '+fgStr+'.',\n};\n\nreturn [{json:{\n  mode, slot:cfg.slot, fgVal, fgLabel, fgStr, top, market_offline,\n  system: 'You are EVEZ666. Write ONE tweet, max 220 chars. No intro. No explanation. Return ONLY the tweet text \u2014 nothing else.',\n  user:   P[mode],\n  ts:     new Date().toISOString(),\n}}];\n"
      }
    },
    {
      "id": "P2",
      "name": "Brain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        200
      ],
      "parameters": {
        "jsCode": "\nconst cfg   = $('Config').first().json;\nconst scout = $('Scout').first().json;\n\nasync function callGroq(key, model) {\n  return await $fetch('https://api.groq.com/openai/v1/chat/completions', {\n    method: 'POST',\n    headers: { 'Authorization': 'Bearer '+key, 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      model: model||'llama-3.3-70b-versatile',\n      max_tokens: 300,\n      temperature: 0.9,\n      messages: [\n        { role:'system', content: scout.system },\n        { role:'user',   content: scout.user   }\n      ]\n    })\n  });\n}\n\nlet raw='', via='groq', fallback_used=false;\n\n// Try primary key first\ntry {\n  const r = await callGroq(cfg.groq, 'llama-3.3-70b-versatile');\n  raw = (r.choices&&r.choices[0]&&r.choices[0].message.content||'').trim();\n} catch(e1) {\n  // Primary failed \u2014 try groq2 with llama-3.1-8b-instant (smaller, more quota headroom)\n  fallback_used = true;\n  via = 'groq2/llama-3.1-8b';\n  try {\n    const r2 = await callGroq(cfg.groq2, 'llama-3.1-8b-instant');\n    raw = (r2.choices&&r2.choices[0]&&r2.choices[0].message.content||'').trim();\n  } catch(e2) {\n    // Both Groq keys dead \u2014 hardcoded fallback tweet\n    raw = 'EVEZ-OS: '+scout.mode+'. PID 335. '+scout.fgStr+'. still building.';\n    via = 'fallback';\n  }\n}\n\nconst tweet = raw\n  .replace(/^[\"']/,'').replace(/[\"']$/,'')\n  .replace(/^tweet:\\s*/i,'').replace(/^@evez666:\\s*/i,'')\n  .trim().slice(0,280);\n\nreturn [{json:{\n  tweet, raw, mode:scout.mode, slot:scout.slot,\n  fgStr:scout.fgStr, fgVal:scout.fgVal, top:scout.top,\n  market_offline: scout.market_offline,\n  via, fallback_used, ts:new Date().toISOString()\n}}];\n"
      }
    },
    {
      "id": "P3",
      "name": "Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "jsCode": "\nconst b = $('Brain').first().json;\nfunction H(d){let h=5381,s=typeof d==='string'?d:JSON.stringify(d);for(let i=0;i<s.length;i++){h=((h<<5)+h)+s.charCodeAt(i);h|=0;}return 'sha_'+Math.abs(h).toString(16).padStart(16,'0');}\nreturn [{json:{\n  STATUS:        'EVEZ666 NEST v7 \u2014 CYCLE COMPLETE',\n  MODE:           b.mode,\n  TWEET:          b.tweet,\n  MARKET:         b.fgStr,\n  TRENDING:       b.top,\n  MARKET_OFFLINE: b.market_offline||false,\n  AI:             b.via,\n  FALLBACK_USED:  b.fallback_used||false,\n  CYCLE:          b.slot,\n  POST_STATUS:    'PREVIEW \u2014 add Twitter creds + set auto_post=true in Config',\n  WEBHOOK:        'POST https://evezos.app.n8n.cloud/webhook/evez-nest-v7',\n  NEXT_RUN:       '4h | 6x/day | 180/mo | free trial safe',\n  entry_hash:     H(String(b.slot)+'|'+b.tweet),\n  ts:             b.ts,\n  pid:            335,\n}}];\n"
      }
    },
    {
      "id": "R1",
      "name": "ACK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1400,
        400
      ],
      "parameters": {
        "respondWith": "lastNode",
        "options": {}
      }
    },
    {
      "id": "E1",
      "name": "Error Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        600
      ],
      "parameters": {
        "jsCode": "const e=$input.first().json;return [{json:{error:e.message||JSON.stringify(e),ts:new Date().toISOString()}}];"
      }
    }
  ],
  "connections": {
    "Every 4 Hours": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Run": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error": {
      "main": [
        [
          {
            "node": "Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Scout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scout": {
      "main": [
        [
          {
            "node": "Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain": {
      "main": [
        [
          {
            "node": "Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "main": [
        [
          {
            "node": "ACK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "tags": [
    {
      "name": "evez-nest"
    },
    {
      "name": "v7"
    },
    {
      "name": "turbo"
    }
  ]
}